.blue{
    background-blend-mode: multiply; 
    background-color: #8ec8ff !important;
  }

  .gold{
    background-blend-mode: multiply; 
    background-color: #fdff69de !important;
  }

  @media(max-width: 500px){
    .player-dash{
        height: 30%; 
        width: 100%;
    }

    .board{
        display: grid; 
        height: calc(100vw);
    }
}
@media(min-width: 501px){

    .board{
        display: grid; 
        width: 70%;
    }

    .player-dash{
        height: 100%;
    width: 30%;
    overflow: hidden;
    position: fixed;
    right: 0px;
    top:65px;
    background: white;
    z-index: 1000;
    }
}