
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"   text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
<!--   <div style="height: calc(calc(100vh - calc(100vw))/2); width: 100%; transform: rotate(180deg);"
    *ngIf="!!game.players && !game.gameFinished ">
    <app-player-dash [dices]="game.player1Dices" [player]="game.players[0]"
      [myTurn]="game.turn.name === game.players[0].name" [actionsLeft]="game.actionsLeft" (pass)="switchTurn()" 
      [myPiece]="game.selectedPiece" [enemyPiece]="game.selectedEnemyPiece" [canUndo]="game.canUndo" (cancel)="cancel()" (attack)="attack()"  (undo)="undo()"  (rotate)="rotate($event)"
      *ngIf="!game.isDeploying" [showPass]="false"></app-player-dash>
    <div  *ngIf="game.isDeploying && game.turn.name === game.players[0].name">
      <app-board [board]="game.deployBoard" (selectCell)="selectToDeploy($event)"></app-board>
      <span class="title">Deploy your army</span>
    </div>
  </div>  -->
  <div *ngIf="!game.gameFinished"  [class.board]="!game.isDeploying">
    <app-board [board]="game.board" (selectCell)="selectPiece($event)"></app-board>
  </div>
  <div *ngIf="game.gameFinished" style="display: grid; height: 100%">
    <span class="title">{{game.winner.name}} wins!</span>
    <ion-button expand="block" (click)="newBattle()">New battle</ion-button>
  </div>
  <div style="height: 30%; width: 100%;" id="log" *ngIf="!!game.players && !game.gameFinished  && game.isDeploying">
    <div *ngIf="game.isDeploying && game.turn.name === game.players[1].name">
      <app-board [board]="game.deployBoard" (selectCell)="selectToDeploy($event)"></app-board>
      <span class="title">Deploy your army</span>
    </div>
  </div>

  <div class="player-dash" id="log" *ngIf="!!game.players && !game.gameFinished && !game.isDeploying">
    <app-player-dash [dices]="game.player2Dices" [player]="game.players[1]" 
      [myTurn]="game.turn.name === game.players[1].name" [actionsLeft]="game.actionsLeft" [canUndo]="game.canUndo" (pass)="switchTurn()"
      [myPiece]="game.selectedPiece" [enemyPiece]="game.selectedEnemyPiece" (cancel)="cancel()" (attack)="attack()"  (undo)="undo()" (rotate)="rotate($event)"
     ></app-player-dash>
  </div>
</ion-content>