.img-left {
  background-image: url(/assets/king.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25vh;
}
.img-right {
  background-image: url(/assets/king.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 25vh;
}

.title {
  font-family: medieval;
  font-size: 50px;
  margin: auto;
  display: table;
  text-align: center;
}