<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">Lionheart Battles</div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="img-left"></div>
      </ion-col>
      <ion-col>
        <div class="img-right"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-button-text icon="single" label="1 Player" (click)="nav('selecMode/1')"></app-button-text>

  <app-button-text icon="multi" label="2 Players" (click)="nav('selecMode/2')"></app-button-text>

  <app-button-text icon="settings" label="Settings" (click)="nav('settings')"></app-button-text>

  <app-button-text icon="tutorial" label="Tutorial" (click)="nav('tutorial')"></app-button-text>

  <app-button-text icon="info" label="Units" (click)="nav('units')"></app-button-text>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="close()">Close</ion-button>
          </ion-buttons>
          <ion-title>Privacy</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
     <ion-text>
        Lionheart Battles is an offline mobile game. No internet access is required.<br/>
        Lionheart Battles don't collect any data on the user.<br/>
        Lionheart Battles don't access any data on the user phone.<br/>
        Lionheart Battles don't share any data with third parties.<br/>
        Lionheart Battles only stores the players preferences and save games on the application data.<br/>
     </ion-text>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="open()">Privacy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

